<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tweet</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>NEW TWEET</h1>
    <div class="data"><div class="box">
    <form method="post" action="/home">
        <input style="background-color: aqua; " height="30vh" width="50vw"  name="username" placeholder="Enter Username">
        <br>
        <textarea style="background-color: aqua;" height="30vh" width="50vw"  name="tweet" placeholder="Tweet"></textarea>
        <br>
        <button style="background-color: azure; color:black">Post</button>
    </div></div>

    </form>
</body>
</html>